<div class="card border-success mb-3">
  <h5 class="card-header text-center">Resultat</h5>
  <ul class="list-group list-group-flush">
    {{#each randomlines}}
    <li class="list-group-item">{{line}}</li>
    {{else}} {{/each}}
  </ul>
</div>