<h1>Om</h1>
<p>Detta är en Node/Express-applikation som används för att slumpmässigt få fram klienter som skall kontrolleras enligt den
  process som ingår i E-ansökan</p>
<p>Version: 1.0.0
  <br> Skara Kommun
  <br> Andreas Larsson
</p>