<h1>Om</h1>
<p>Detta är en Node/Express-applikation som används för att slumpmässigt få fram klienter som skall kontrolleras enligt
  den
  process som ingår i E-ansökan. Applikationen kan även användas i andra fall där ett slumpmässigt urval är aktuellt.
</p>
<p>Version: 1.0.3 (20190705)
  <br> Skara Kommun
  <br> Andreas Larsson
</p>